

        <div class="header_text">
            Привет, спасибо, что посетили наш детский портал.
        </div>

        Здесь вы можете найти много полезной и нужной информации, как для себя, так и для ваших деток.
        В разных разделах, есть информация на любой вкус.
        <h2>
            Позвольте, мы предложим вам самое популярное, что смотрят посетители нашего портала.
        </h2>
        <div class="mt-5 mb-5"></div>

        <div class="row">

            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-right">Кнопка по центру</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-right">Кнопка по центру</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-right">Кнопка по центру</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-right">Кнопка по центру</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

