<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">
<title>{$title}</title>
<!-- Bootstrap core CSS -->
<link href="/templates/static/plugins/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/templates/adminain.admin.css" rel="stylesheet">
<link href="/templates/static/plugins/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet"> <!--load all styles -->
<!-- Bootstrap core JavaScript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/templates/static/plugins/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="/templates/static/plugins/popper.min.js"></script>
<script src="/templates/static/plugins/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
<script src="/templates/adminin.admin.js"></script>
