<div class="modal fade bd-example-modal-lg" id="form-brand-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать брэнд</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <label for="form-brand-name" class="col-form-label">Наименование*:</label>
                            <input type="text" class="form-control " id="form-brand-name" required>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="form-brand-category" class="col-form-label">Категория:</label>
                            <select class="form-control" id="form-brand-category">
                                {section name=i loop=$categories}
                                    <option value="{$categories[i]['id']}">{$categories[i]['name']}</option>
                                {/section}
                            </select>
                        </div>
                        <div class="col-lg-12 pl-2">
                            <div class="form-check">
                                <input type="checkbox" checked class="form-check-input" id="form-brand-visible">
                                <label class="form-check-label" for="form-brand-visible">Видимость</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="form-brand-btn-save" onclick="brandFormSave('create')">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="form-brand-remove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удалить?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить бренд <b id="form-brand-remove-id">№1</b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="form-brand-remove-btn-accept">Удалить</button>
            </div>
        </div>
    </div>
</div>