

        <div class="header_text">
            Аудиосказки для детей
        </div>

        В этом разделе нашего сайта мы собрали по категориям и разместили аудиосказки для детей. Если Вы предпочитаете сами читать сказку ребенку, то любую из них Вы сможете найти в разделе со сказками и прочитать онлайн либо скачать в любом из предложенных форматов.
        В этом разделе нашего сайта мы собрали по категориям и разместили аудиосказки для детей. Если Вы предпочитаете сами читать сказку ребенку, то любую из них Вы сможете найти в разделе со сказками и прочитать онлайн либо скачать в любом из предложенных форматов.
        В этом разделе <h2>нашего сайта</h2> мы собрали по категориям и разместили аудиосказки для детей. Если Вы предпочитаете сами читать сказку ребенку, то любую из них Вы сможете найти в разделе со сказками и прочитать онлайн либо скачать в любом из предложенных форматов.

        <div class="row mt-5">
            <h2>Блоки</h2>
            <div class="col-sm">
                <div class="header_table">One of three columns</div>
                One of three columns
            </div>
            <div class="col-sm">
                <div class="header_table">One of three columns</div>
                One of three columns
            </div>
            <div class="col-sm">
                <div class="header_table">One of three columns</div>
                One of three columns
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2>Таблица</h2>
                <table class="table">
                    <thead class="bg-viola bg-viola_text">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2>Кнопки</h2>
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem 0.75rem;">Главный</button>
                <button type="button" class="btn btn-secondary">Slave</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h2>Постраничка</h2>
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem;">1</button>
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem;">2</button>
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem;">3</button>
                ...
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem;">4</button>
                <button type="button" class="btn btn-primary bg-viola bg-viola_text" style="padding: 0.375rem;">5</button>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-12">

            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-center">Переход куда-нибудь</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Название карточки</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="col text-center">
                            <a href="#" class="btn btn-primary bg-viola bg-viola_text pull-right">Кнопка по центру</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3 mb-3">
                <div class="card" style="">
                    <img class="card-img-top" src="/templates/static/img/IMG_4188.JPG" alt="Card image cap">
                    <div class="card-body text-center">
                        <h5 class="card-title">Содержимое по центру</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary bg-viola bg-viola_text">Переход куда-нибудь</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card" style="">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-6"><b>Автор:</b> Бро</div>
                            <div class="col-6 ta-right"><b>Дата:</b> 16.08.2022</div>
                        </div>
                        <h5 class="card-title">Название статьи</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="row">
                            <div class="col-12"><b>Теги:</b>
                                <a href="">Раз</a>,
                                <a href="">Два</a>,
                                <a href="">Три</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6"><b>Категория:</b> Личный блог</div>
                            <div class="col-6 ta-right"><b>Просмотры:</b> 20</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    Это основное уведомление — check it out!
                </div>
                <div class="alert alert-secondary" role="alert">
                    Это дополнительное уведомление — check it out!
                </div>
                <div class="alert alert-success" role="alert">
                    Это уведомление об успехе — check it out!
                </div>
                <div class="alert alert-danger" role="alert">
                    Это уведомление об опасности — check it out!
                </div>
                <div class="alert alert-warning" role="alert">
                    Это уведомление-предупреждение — check it out!
                </div>
                <div class="alert alert-info" role="alert">
                    Это инфо-уведомление — check it out!
                </div>
                <div class="alert alert-dark" role="alert">
                    Это темное уведомление — check it out!
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="alert alert-success bg-viola-light" role="alert">
                    <h2>Отличная работа!</h2>
                    <p>Вы успешно прочитали это важное сообщение. Это пример текста немного длиннее, так что вы увидите, как работает спейсинг в сообщениях уведомлений.</p>
                    <hr>
                    <p class="mb-0">Когда необходимо, используйте марджины для создания необходимых отступов.</p>
                </div>
            </div>
        </div>