<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>
    {include file="templates/static/mainhead.html"}
    {include file="templates/getup/goodtimes/head.html"}
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-viola">
    <div class="container" style="max-width: 100%">
        <a href="#" class="navbar-brand"> uncleTales.ru </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item mt-1">
                {if $menu}
                    {foreach from=$menu key=k item=v name=foo}
                        <li class="nav-item mt-1">
                            <a class="nav-link {if isset($v['childs'])}dropdown-toggle{/if}" href="{if isset($v['childs'])}#{else}/category/?c={$v['url']}{/if}" role="button" id="dropdownMenuLink" {if isset($v['childs'])}data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{/if}>
                                {$v['name']}
                            </a>
                            {if isset($v['childs'])}
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {foreach from=$v['childs'] key=key item=sub name=foo}
                                        <a class="dropdown-item" href="/category/?c={$sub['url']}">{$sub['name']}</a>
                                    {/foreach}
                                </div>
                            {else}
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/category/?c={$v['url']}">Перейти</a>
                                </div>
                            {/if}
                        </li>
                    {/foreach}
                {/if}
            </ul>
            <form action="/category/find/" class="d-flex " method="post">
                <input type="text" id="find" name="find" placeholder="Поиск" class="form-control me-2">
                <button type="submit" class="btn btn-outline-white">Поиск</button>
            </form>
        </div>

    </div>

</nav>
<div class="row">
    <div class="col-12">
        <div class="navigation">
            {if !empty($htpath)}
                {foreach from=$htpath key=k item=v name=foo}
                    {if !$smarty.foreach.foo.first}>{/if}
                    <a href="{$v['url']}" class="header_text clean_link">{$v['name']}</a>
                {/foreach}
            {/if}
        </div>
    </div>
</div>
{if isset($main_content_template)}
    <div class="container page">

        <div class="row mt-1 pb-4">
            <div class="col-12">
                <div class="container">
                    {include file=$main_content_template}
                </div>
            </div>
        </div>
    </div>

{/if}
<div class="footer bg-viola bg-viola_text">Мы подбираем для вас и ваших деток материалы с 2013 года</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>