<script src="/templates/admintegories.admin.js"></script>
<div class="starter-template">
    <div class="row justify-content-between mb-5 align-items-center">
        <div class="col-1">
            <h1>Категории</h1>
        </div>
        <div class="col-1">
            <button class="btn btn-primary  my-2 my-sm-0 btn-sm" data-toggle="modal" data-target="#form-category-create"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">PID</th>
                        <th scope="col">Наименование</th>
                        <th scope="col">Описание</th>
                        <th scope="col">logo</th>
                        <th scope="col">url</th>
                        <th scope="col">Видимость</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {section name=i loop=$categories}
                        <tr>
                            <th scope="row" id="item-category-id-{$categories[i]['id']}">{$categories[i]['id']}</th>
                            <td id="item-category-pid-{$categories[i]['id']}">{$categories[i]['pid']}</td>
                            <td id="item-category-name-{$categories[i]['id']}">{$categories[i]['name']}</td>
                            <td id="item-category-description-{$categories[i]['id']}">{$categories[i]['description']}</td>
                            <td id="item-category-logo-{$categories[i]['id']}">{$categories[i]['logo']}</td>
                            <td id="item-category-url-{$categories[i]['id']}">{$categories[i]['url']}</td>
                            <td>
                                <input  id="item-category-visible-{$categories[i]['id']}" type="checkbox" disabled {if $categories[i]['vis']} checked{/if}>
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm" onclick="categoryFormOpen({$categories[i]['id']})"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" onclick="categoryFormRemoveOpen({$categories[i]['id']})" data-toggle="modal" data-target="#form-category-remove"><i class="fas fa-trash-alt" ></i></button>
                            </td>
                        </tr>
                    {/section}
                </tbody>
            </table>
        </div>
    </div>
</div>