<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=devise-width, initia-scale=1.0">
    <title>{$title}</title>
    {include file="templates/static/mainhead.html"}
    {include file="templates/getup/default/head.html"}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container" style="max-width: 100%">
        <a href="#" class="navbar-brand"> uncleHelper </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Калькулятор
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/calc/wood">Количество бруса и доски в кубе</a>
                        <a class="dropdown-item" href="/calc/areaOfRectangle">Площадь</a>
                        <a class="dropdown-item" href="#">Квадратура</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Конвертер величин
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <a class="dropdown-item" href="#">Расстояние</a>
                        <a class="dropdown-item" href="#">Хуяние</a>
                        <a class="dropdown-item" href="#">Вес</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Расчеты</a>
                </li>
            </ul>
            <form action="" class="d-flex ">
                <input type="searh" placeholder="search" class="form-control me-2">
                <button class="btn btn-outline-success">search</button>
            </form>
        </div>

    </div>
</nav>
{if isset($main_content_template)}
    {include file=$main_content_template}
{/if}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>