<div class="alert alert-success alert-dismissible fade position-absolute"  id="alert-success" role="alert">
    Успешно!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!--<div class="alert alert-success alert-dismissible fade position-absolute"  id="alert-update-success" role="alert">-->
<!--    <strong>Выполнено!</strong>Обновлено!-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--</div>-->
<div class="alert alert-danger alert-dismissible fade position-absolute"  id="alert-danger" role="alert">
    Ошибка!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade position-absolute"  id="alert-not-find" role="alert">
    Не найдено!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>